<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Promociones</p>
        <button
          mat-stroked-button
          color="primary"
          class="btn round mb-3 botonR btn-registrar"
          (click)="registrarNuevaPromocion()"
          [appRole]="['Administrador', 'Encargado']"
        >Registrar nueva promoción</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Promoción</mat-label>
            <input type="text" matInput [formControl]="txNombre"/>
          </mat-form-field>
          <app-error-messages [control]="txNombre"></app-error-messages>
        </div>
      </div>
    </form>


    <!-- Btn de buscar y limpiar -->
  <div class="row text-right">
    <div class="col d-flex justify-content-end">
      <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
        <mat-icon>autorenew</mat-icon>
        Limpiar
      </button>
      <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
    </div>
  </div>

  </mat-card>

  <br>

  <mat-card-header class="header-card">
    <h2 style="color: grey">Promociones encontradas</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card class="mat-card" [hidden]="!(promociones.length > 0 && !isLoading)">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort class="custom-table">
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PROMOCIÓN</mat-header-cell>
              <mat-cell *matCellDef="let promocion" data-label="Promoción">{{ promocion.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="porcentajeDescuento">
              <mat-header-cell *matHeaderCellDef mat-sort-header>DESCUENTO</mat-header-cell>
              <mat-cell *matCellDef="let promocion" data-label="Porcentaje de descuento" class="text-center">{{ promocion.porcentajeDescuento + '%' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="producto">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCTOS</mat-header-cell>
              <mat-cell *matCellDef="let promocion">
                <div class="productos-container">
                  <ng-container *ngFor="let producto of promocion.productos.slice(0, 3)">
                    <span class="producto-circulo" [matTooltip]="producto.nombre" (click)="verProducto(producto)">
                    <img [src]="producto.imgProducto" alt="Producto" class="producto-imagen">
                    </span>
                  </ng-container>
                  <span *ngIf="promocion.productos.length > 3" matTooltip="{{ getNombresProductos(promocion.productos) }}" class="mas-productos">
                        +{{ promocion.productos.length - 3 }}
                  </span>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaHasta">
              <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA HASTA</mat-header-cell>
              <mat-cell *matCellDef="let promocion" data-label="Fecha Hasta">{{ promocion.fechaHasta ? (promocion.fechaHasta | date: 'dd/MM/yyyy') : 'Permanente' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let promocion" data-label="Acciones">

                <button class="btn" mat-icon-button matTooltip="Ver" (click)="verPromocion(promocion, false)">
                  <mat-icon class="ver">visibility</mat-icon>
                </button>
                <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verPromocion(promocion, true)" [appRole]="['Administrador', 'Encargado']">
                  <mat-icon class="editar">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary"  matTooltip="Eliminar" (click)="eliminarPromocion(promocion.id)" [appRole]="['Administrador', 'Encargado']">
                  <mat-icon class="eliminar">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row class="queue-row" *matRowDef="let row; columns: columnas"></mat-row>

          </mat-table>

          <mat-paginator
                         [length]="this.promociones.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h5 *ngIf="!isLoading && !(this.promociones.length > 0)" class="alert alert-secondary text-center">
    No se encuentran promociones para mostrar, realice una nueva búsqueda.
  </h5>
</div>


