mat-card {
  border-radius: 8px;
  padding: 10px 15px;
  color: #494949;
  height: 250px;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
  color: var(--color-text-title);
  margin-bottom: 10px;
}

h1 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  color: var(--color-text-title);
}

h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: var(--color-text-title);
}

.fecha {
  font-size: 10px;
  font-weight: 500;
}

.currency-symbol {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-text-title);
}

.value {
  font-size: 18px;
  font-weight: bold;
}

.color-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.today {
  background-color: #2563eb;
}

.yesterday {
  background-color: #979797;
}

canvas {
  height: auto !important;
  width: 100% !important;
}


@media (max-width: 750px) {
  h3 {
    font-size: 12px;
  }
  .fecha {
    display: none;
  }
}
