<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center w-100">
        <p class="titulo">Arqueos de Caja</p>
        <button
          mat-stroked-button
          color="primary"
          class="btn round mb-3 btn-registrar"
          (click)="registrarNuevoArqueo()"
          [appRole]="['Administrador', 'Encargado', 'Cajero']"
        >Registrar nuevo arqueo de caja</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>
    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de apertura</mat-label>
            <input matInput [matDatepicker]="pickerApertura" [formControl]="txFechaApertura" [max]="maxDate"/>
            <mat-datepicker-toggle matSuffix [for]="pickerApertura"></mat-datepicker-toggle>
            <mat-datepicker #pickerApertura></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Estado</mat-label>
            <mat-select [formControl]="txEstado">
              <mat-option *ngFor="let estado of listaEstadosArqueo" [value]="estado.id">
                {{ estado.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>

    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
      </div>
    </div>
  </mat-card>
  <br>
  <mat-card-header class="header-card">
    <h2 style="color: grey">Arqueos de caja encontrados</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card [hidden]="arqueos.length === 0">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort class="custom-table">
            <!-- ID del arqueo -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ARQUEO</mat-header-cell>
              <mat-cell *matCellDef="let arqueo">{{ arqueo.id }}</mat-cell>
            </ng-container>

            <!-- Caja del arqueo -->
            <ng-container matColumnDef="caja">
              <mat-header-cell *matHeaderCellDef>CAJA</mat-header-cell>
              <mat-cell *matCellDef="let arqueo">{{ arqueo.caja?.nombre }}</mat-cell>
            </ng-container>

            <!-- Fecha -->
            <ng-container matColumnDef="fechaApertura">
              <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
              <mat-cell *matCellDef="let arqueo" class="fecha-cell">
                {{ arqueo.fechaApertura | date: 'dd/MM/yyyy' }}
              </mat-cell>
            </ng-container>

            <!-- Hora de apertura -->
            <ng-container matColumnDef="horaApertura">
              <mat-header-cell *matHeaderCellDef mat-sort-header>HORA APERTURA</mat-header-cell>
              <mat-cell *matCellDef="let arqueo">
                {{ arqueo.horaApertura }}
              </mat-cell>
            </ng-container>

            <!-- Hora de cierre -->
            <ng-container matColumnDef="horaCierre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>HORA CIERRE</mat-header-cell>
              <mat-cell *matCellDef="let arqueo">
                {{ arqueo.horaCierre ? arqueo.horaCierre : 'No cerrado'}}
              </mat-cell>
            </ng-container>

            <!-- Estado del arqueo -->
            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef>ESTADO</mat-header-cell>
              <mat-cell *matCellDef="let arqueo">{{ arqueo.estadoArqueo?.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let arqueo" data-label="Acciones" class="actions-cell">
                <div class="actions-container">
                  <button class="btn" mat-icon-button matTooltip="Ver" (click)="verArqueo(arqueo, false)">
                    <mat-icon class="ver">visibility</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Ver Detalle Arqueo" (click)="verDetalleArqueo(arqueo.id)">
                    <mat-icon class="detalle">description</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
          </mat-table>
          <mat-paginator
                         [length]="this.arqueos.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h5 *ngIf="!isLoading && !(this.arqueos.length > 0)" class="alert alert-secondary text-center">
    No se encuentran arqueos de caja para mostrar, por favor realice una nueva búsqueda.
  </h5>
</div>
