.bodyMessage {
  margin: 20px 30px;
}

.col {
  margin: 0px 0px 30px 0px;
}

p {
  line-height: 27px;
  font-size: 21px;
}

i {
  padding-bottom: 30px;
}

h3 {
  padding-bottom: 15px;
  margin-bottom: 0px;
  font-size: 26px;
}

.tittle-message {
  font-size: 28px;
  font-weight: bold;
}

.message {
  font-size: 17px;
  font-weight: normal;
  color: black;
  line-height: 1.5;
  white-space: pre-line;
}

.margin-right-08 {
  margin-right: 0.8rem !important;
}

.mat-icon {
  font-size: 90px !important;
  height: 90px !important;
  width: 90px !important;
}

.mat-icon.iconCorrect {
  font-size: 40px !important;
  height: 40px !important;
  width: 40px !important;
  margin-right: 10px;
  color: green;
}

.mat-icon.iconError {
  color: darkred;
}

.messageCorrect {
  font-size: 20px;
  font-weight: normal;
  color: black;
  padding-top: 0.4rem;
}

.display-flex {
  display: flex;
}

.delete-color {
  color: darkred;
}

.warning-icon {
  color: #cd9d0a;
}

.mat-icon.icon-warning {
  color: #cd9d0a;
}

.warning-color {
  color: #cd9d0a;
}

.btnAceptar {
  background-color: #2563eb;
  color: white;
}
