.loading-container {
  display: flex;
  flex-direction: row; /* Alinea el texto y los puntos en la misma línea */
  align-items: center; /* Alinea verticalmente */
  text-align: center;
  width: auto; /* Ajusta el ancho al contenido */
  margin: auto; /* Centra el bloque en la página */
  gap: 10px; /* Espaciado entre el texto y los puntos */
}

.loading-text {
  margin-bottom: 0; /* Elimina el margen inferior */
  font-weight: bold;
  color: #d9534f; /* Color rojo similar al de la imagen */
}

#dots g {
  fill: #2563eb; /* Cambia el color de los puntos */
}

#dots {
  display: flex;
  justify-content: center; /* Centra los puntos */
  width: 40px; /* Ajusta el ancho del SVG */
}

#dots #dot1 {
  animation: load 1s infinite;
}

#dots #dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#dots #dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
