<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center w-100">
        <p class="titulo">Ventas</p>
        <button
          mat-stroked-button
          color="primary"
          class="btn round mb-3"
          (click)="registrarNuevaVenta()"
          [appRole]="['Encargado', 'Cajero']"
        >Registrar nueva venta</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <br>

    <h4 style="color: grey">Filtros de búsqueda</h4>
    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número de venta</mat-label>
            <input matInput [formControl]="txNumero" autocomplete="off" type="search"/>
          </mat-form-field>
          <app-error-messages [control]="txNumero"></app-error-messages>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Forma de pago</mat-label>
            <mat-select [formControl]="txFormaDePago">
              <mat-option *ngFor="let formaDePago of formasDePago" [value]="formaDePago.id">
                {{formaDePago.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txFormaDePago"></app-error-messages>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de facturación</mat-label>
            <mat-select [formControl]="txTiposFactura">
              <mat-option *ngFor="let tipoFactura of tiposFactura" [value]="tipoFactura.id">
                {{tipoFactura.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txTiposFactura"></app-error-messages>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Desde</mat-label>
            <input matInput [matDatepicker]="pickerDesde" [formControl]="txFechaDesde" [max]="maxDate"/>
            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde></mat-datepicker>
          </mat-form-field>
          <app-error-messages [control]="txFechaDesde"></app-error-messages>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Hasta</mat-label>
            <input matInput [matDatepicker]="pickerHasta" [formControl]="txFechaHasta" [max]="maxDate" [min]="txFechaDesde.value"/>
            <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerHasta></mat-datepicker>
          </mat-form-field>
          <app-error-messages [control]="txFechaHasta"></app-error-messages>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ult. Dígitos tarjeta</mat-label>
            <input type="text" matInput [formControl]="txUltimosCuatroDigitosTarjeta" maxlength="4"/>
          </mat-form-field>
          <app-error-messages [control]="txUltimosCuatroDigitosTarjeta"></app-error-messages>
        </div>
      </div>
    </form>

    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscarVentasPaginado(0, 10, true)" id="btnBuscar">Buscar</button>
      </div>
    </div>
  </mat-card>
  <br>

  <mat-card-header class="header-card">
    <h2 style="color: grey">Ventas encontradas</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card [hidden]="ventas.length === 0 || isLoading">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort class="custom-table">

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>NÚMERO DE VENTA</mat-header-cell>
              <mat-cell *matCellDef="let venta">{{ venta?.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cliente">
              <mat-header-cell *matHeaderCellDef>CLIENTE</mat-header-cell>
              <mat-cell *matCellDef="let venta">{{ venta?.cliente.nombre + ' ' + venta?.cliente.apellido }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="montoTotal">
              <mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</mat-header-cell>
              <mat-cell *matCellDef="let venta">$ {{ venta?.montoTotal | number:'1.2-2':'es-AR' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
              <mat-cell *matCellDef="let venta">{{ venta?.fecha | date: 'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="formaDePago">
              <mat-header-cell *matHeaderCellDef>FORMA DE PAGO</mat-header-cell>
              <mat-cell *matCellDef="let venta">
                 {{ venta?.formaDePago?.nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="productos">
              <mat-header-cell *matHeaderCellDef>PRODUCTOS</mat-header-cell>
              <mat-cell *matCellDef="let venta">
                <div class="productos-container">
                  <ng-container *ngFor="let producto of venta?.productos.slice(0, 3)">
                    <span class="producto-circulo" [matTooltip]="producto.nombre" (click)="verProducto(producto)">
                    <img [src]="producto.imgProducto" alt="Producto" class="producto-imagen">
                    </span>
                  </ng-container>
                  <span *ngIf="venta?.productos.length > 3" matTooltip="{{ getNombresProductos(venta.productos) }}" class="mas-productos">
                        + {{ venta?.productos.length - 3 }}
                  </span>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let venta" data-label="Acciones">
                <button class="btn" mat-icon-button matTooltip="Ver" (click)="verVenta(venta)">
                  <mat-icon class="ver">visibility</mat-icon>
                </button>
                <button
                  *ngIf="venta?.anulada == 0"
                  mat-icon-button
                  color="primary"
                  matTooltip="Anular venta"
                  (click)="anularVenta(venta)"
                  [disabled]="venta?.canceladaConSaldo === 1 && venta?.comprobanteAfip.comprobante_pdf_url !== null"
                  [appRole]="['Cajero', 'Encargado']">
                  <mat-icon class="eliminar">settings_backup_restore</mat-icon>
                </button>
                <button
                  *ngIf="venta?.comprobanteAfip.comprobante_pdf_url != null"
                  mat-icon-button color="primary"
                  matTooltip="Imprimir comprobante"
                  (click)="imprimirComprobante(venta)"
                  [appRole]="['Administrador', 'Encargado', 'Cajero']">
                  <mat-icon class="imprimir">print</mat-icon>
                </button>
                <button
                  *ngIf="venta?.comprobanteAfip.comprobante_pdf_url == null && venta?.anulada == 0"
                  mat-icon-button
                  color="primary"
                  matTooltip="Facturar venta"
                  (click)="facturarVenta(venta)"
                  [disabled]="venta?.canceladaConSaldo === 1"
                  [appRole]="['Cajero', 'Encargado']">
                  <mat-icon class="facturar">attach_money</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"
                     [ngClass]="{'anulada-row': row?.anulada}"
                     [matTooltip]="row?.anulada ? 'Venta anulada' : ''"></mat-row>
          </mat-table>

          <mat-paginator
            [length]="totalDeVentas"
            [pageSize]="10"
            [showFirstLastButtons]="false"
            (page)="onPageChange($event)" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h5 *ngIf="!isLoading && this.ventas.length == 0" class="alert alert-secondary text-center">
    No se encuentran ventas para mostrar, por favor realice una nueva búsqueda.
  </h5>
</div>

