#btnLoguearse {
  background-color: #3b82f6;
  color: white;
}

#btnLoguearse:hover {
  background-color: #2563eb;
}

#btnRegistrarse {
  color: #2563eb;
}

.mat-card {
  min-width: 300px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%;
  max-width: 500px;
  overflow-x: auto;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
}

.titulo-container {
  text-align: center;
  padding: 10px;
}

.olvidaste-text {
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  color: grey;
  margin-top: -10px;
}

.olvidaste-text:hover {
  text-decoration: underline; /* Subraya solo cuando el mouse está encima */
}
