<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Inventario</p>
        <button
          mat-stroked-button
          color="primary"
          class="btn round mb-3"
          (click)="registrarNuevoDetalleProducto()"
          [appRole]="['Administrador', 'Encargado']"
        >Registrar nuevo producto en inventario</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="form">
      <div class="row pt-4">

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Producto</mat-label>
            <input type="text" matInput [formControl]="txProducto"/>
          </mat-form-field>
          <app-error-messages [control]="txProducto"></app-error-messages>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Proveedor</mat-label>
            <mat-select [formControl]="txProveedor">
              <mat-option *ngFor="let proveedor of listaProveedores" [value]="proveedor.id">
                {{ proveedor.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txProveedor"></app-error-messages>
        </div>
      </div>
    </form>

    <!-- Btn de buscar y limpiar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
      </div>
    </div>

  </mat-card>

  <br>

  <mat-card-header class="header-card">
    <h2 style="color: grey">Productos en inventario encontrados</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card [hidden]="detallesProducto.length === 0">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort class="custom-table">
            <ng-container matColumnDef="imgProducto">
              <mat-header-cell *matHeaderCellDef>IMAGEN</mat-header-cell>
              <mat-cell *matCellDef="let detalleProducto">
                <img [src]="detalleProducto.producto.imgProducto" class="img-thumbnail"/>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="producto">
              <mat-header-cell *matHeaderCellDef>PRODUCTO</mat-header-cell>
              <mat-cell *matCellDef="let detalleProducto" data-label="Producto">{{ detalleProducto.producto.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="proveedor">
              <mat-header-cell *matHeaderCellDef>PROVEEDOR</mat-header-cell>
              <mat-cell *matCellDef="let detalleProducto" data-label="Proveedor">{{ detalleProducto.proveedor?.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="marca">
              <mat-header-cell *matHeaderCellDef>MARCA</mat-header-cell>
              <mat-cell *matCellDef="let detalleProducto" data-label="Marca">{{ detalleProducto.producto?.marca?.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cantEnInventario">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CANT. EN INVENTARIO</mat-header-cell>
              <mat-cell *matCellDef="let detalleProducto" data-label="CantidadEnInventario">{{ detalleProducto.cantEnInventario }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let detalleProducto" data-label="Acciones">
                <button class="btn" mat-icon-button matTooltip="Ver" (click)="verDetalleProducto(detalleProducto, false)">
                  <mat-icon class="ver">visibility</mat-icon>
                </button>
                <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verDetalleProducto(detalleProducto, true)">
                  <mat-icon class="editar">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary"  matTooltip="Eliminar" (click)="eliminarDetalleProducto(detalleProducto.id)" [appRole]="['Administrador', 'Encargado']">
                  <mat-icon class="eliminar">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row class="queue-row" *matRowDef="let row; columns: columnas"></mat-row>

          </mat-table>

          <mat-paginator
                         [length]="this.detallesProducto.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h5 *ngIf="!isLoading && !(this.detallesProducto.length > 0)" class="alert alert-secondary text-center">
    No se encuentran comprobantes para mostrar, realice una nueva búsqueda.
  </h5>
</div>


