.pedido-total {
  font-size: 18px;
  color: grey;
}

.pedido-estado {
  font-size: 18px;
  color: grey;
}

.pedido-fecha {
  font-size: 18px;
  color: grey;
}

.pedido-id {
  font-size: 18px;
  color: grey;
}

.pedido-card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 10px;
  background-color: var(--bg-card);
  border: var(--border-productos-venta);
  cursor: pointer;
}

.selected-pedido-card {
  border: 2px solid #2563eb;
}

.dialog-container {
  max-height: 70vh;
  overflow-y: auto;
}

.custom-spacing {
  margin-right: 25px;
}

.img-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.symbol-cost {
  font-size: 24px;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 2.2;
}

.quantity-input {
  width: 40px;
}

.disabled-table {
  pointer-events: none;
  opacity: 0.6;
}

.new-product-btn {
  height: 75%;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}

.no-pedidos-card {
  max-width: 300px;
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 20px;
  border: var(--border-productos-venta);
  border-radius: 8px;
  color: grey;
  background-color: var(--bg-card);
}
