.nombre-cell {
  display: flex;
  align-items: center;
}

.person-icon {
  margin-right: 8px;
}

.mat-card {
  min-width: 700px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}

.warning-icon {
  color: #2563eb;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

.accepted-icon {
  color: greenyellow;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

.rejected-icon {
  color: indianred;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}
