<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Control de Empleado</p>
        <div class="d-flex justify-content-end">
          <button
            mat-stroked-button
            color="primary"
            class="btn round mb-3 botonR"
            (click)="registrarNuevaAsistencia()"
            [appRole]="['Encargado']"
          >Registrar nueva asistencia</button>
          <button
            mat-stroked-button color="primary"
            class="btn round mb-3 ms-2 botonR"
            (click)="registrarNuevaLicencia()"
            [appRole]="['Encargado']"
          >Registrar nueva licencia</button>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="form">
      <div class="row pt-4">

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Empleado</mat-label>
            <mat-select [formControl]="txNombreUsuario">
              <mat-option *ngFor="let empleado of listaEmpleados" [value]="empleado.id">
                {{ empleado.nombre + ' ' + empleado.apellido }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txNombreUsuario"></app-error-messages>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="txFecha" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-error-messages [control]="txFecha"></app-error-messages>
        </div>
      </div>
    </form>


    <!-- Btn de buscar y limpiar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
      </div>
    </div>

  </mat-card>

  <br>


  <mat-card-header class="header-card">
    <h2 style="color: grey">Asistencias y licencias encontradas</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isSearchingLicencias || isSearchingAsistencias">
    <mat-spinner></mat-spinner>
  </div>

  <mat-tab-group mat-align-tabs="#2563eb" color="primary" [hidden]="isSearchingLicencias && isSearchingAsistencias">

    <!-- Pestaña de asistencias -->
    <mat-tab label="Asistencias">
      <mat-card [hidden]="isSearchingAsistencias">
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-table [dataSource]="tableDataSource" matSort class="custom-table">

                <!-- Columna Empleado -->
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>EMPLEADO</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" data-label="Empleado">
                    <mat-icon class="person-icon">person</mat-icon>{{ asistencia.usuario.nombre + ' ' + asistencia.usuario.apellido }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Fecha -->
                <ng-container matColumnDef="fecha">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" data-label="Fecha">
                    {{ asistencia.fecha | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Hora de entrada -->
                <ng-container matColumnDef="horaEntrada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>HORA DE ENTRADA</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" data-label="Hora de entrada">
                    {{ asistencia.horaEntrada }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Hora de salida -->
                <ng-container matColumnDef="horaSalida">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>HORA DE SALIDA</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" data-label="Hora de salida">
                    {{ asistencia.horaSalida }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Comentario -->
                <ng-container matColumnDef="comentario">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>COMENTARIO</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" data-label="Comentario">
                    {{ asistencia.comentario }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Acciones -->
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" data-label="Acciones">
                    <button class="btn" mat-icon-button matTooltip="Ver" (click)="verAsistencia(asistencia, false)">
                      <mat-icon class="ver">visibility</mat-icon>
                    </button>
                    <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verAsistencia(asistencia, true)" [appRole]="['Encargado']">
                      <mat-icon class="editar">edit</mat-icon>
                    </button>
                    <button class="btn" mat-icon-button matTooltip="Eliminar" color="primary" (click)="eliminarAsistencia(asistencia.id)" [appRole]="['Encargado']">
                      <mat-icon class="eliminar">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <!-- Filas y columnas de la tabla -->
                <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                <mat-row class="queue-row" *matRowDef="let row; columns: columnas"></mat-row>

              </mat-table>

              <h5 *ngIf="this.asistencias.length === 0" class="alert alert-secondary text-center">
                No se encuentran asistencias para mostrar, realice una nueva búsqueda.
              </h5>

              <mat-paginator
                             [length]="this.asistencias.length"
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <!-- Pestaña de licencias -->
    <mat-tab label="Licencias">
      <mat-card [hidden]="isSearchingLicencias">
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-table [dataSource]="tableDataSourceLicencia" matSort class="custom-table">

                <!-- Columna Empleado -->
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>EMPLEADO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    <mat-icon class="person-icon">person</mat-icon>{{ licencia.usuario.nombre + ' ' + licencia.usuario.apellido }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Periodo -->
                <ng-container matColumnDef="periodo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>PERIODO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    {{ licencia.fechaInicio | date: 'dd/MM/yyyy' }} al {{ licencia.fechaFin | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Motivo -->
                <ng-container matColumnDef="motivo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>MOTIVO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    {{ licencia.motivo.nombre }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Estado -->
                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    <mat-icon *ngIf="licencia.estadoLicencia.id === 1" class="warning-icon" matTooltip="El empleador aún no ha revisado su solicitud.">
                      warning
                    </mat-icon>

                    <mat-icon *ngIf="licencia.estadoLicencia.id === 2" class="accepted-icon" matTooltip="El empleador ha aceptado su solicitud de licencia.">
                      check_circle
                    </mat-icon>

                    <mat-icon *ngIf="licencia.estadoLicencia.id === 3" class="rejected-icon" matTooltip="El empleador ha denegado su solicitud de licencia.">
                      cancel
                    </mat-icon>
                    {{ licencia.estadoLicencia.nombre }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Comentario -->
                <ng-container matColumnDef="comentario">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>COMENTARIO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    {{ licencia.comentario }}
                  </mat-cell>
                </ng-container>

                <!-- Columna Acciones -->
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    <button class="btn" mat-icon-button matTooltip="Ver" (click)="verLicencia(licencia, false)">
                      <mat-icon class="ver">visibility</mat-icon>
                    </button>
                    <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verLicencia(licencia, true)">
                      <mat-icon class="editar">edit</mat-icon>
                    </button>
                    <button class="btn" mat-icon-button matTooltip="Eliminar" color="primary" (click)="eliminarLicencia(licencia.id)">
                      <mat-icon class="eliminar">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <!-- Filas y columnas de la tabla -->
                <mat-header-row *matHeaderRowDef="columnasLicencias"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnasLicencias;"></mat-row>

              </mat-table>

              <h5 *ngIf="this.licencias.length === 0" class="alert alert-secondary text-center">
                No se encuentran licencias para mostrar, realice una nueva búsqueda.
              </h5>

              <mat-paginator
                             [length]="this.licencias.length"
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>


