<div class="custom-dialo-calido" [class.dark-mode]="darkMode">
  <div class="custom-dialo-calido">
    <div class="container py-3 px-4 col-xl-12" >

      <br>
      <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
          <p class="titulo">{{esConsulta ? 'Consultar Orden de Compra' : 'Registrar Orden de Compra'}}</p>
          <button *ngIf="esConsulta" class="btn" mat-icon-button matTooltip="Modificar" (click)="habilitarEdicion()">
            <mat-icon class="editar">edit</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <br>
      <form [formGroup]="form">
        <div class="row pt-4">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Proveedor</mat-label>
              <mat-select [formControl]="txProveedor">
                <mat-option *ngFor="let proveedor of listaProveedores" [value]="proveedor.id">
                  {{ proveedor.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-error-messages [control]="txProveedor"></app-error-messages>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Transporte</mat-label>
              <input
                type="text"
                matInput
                [formControl]="txTransporte"
                [matAutocomplete]="autoCompleteTransporte"
              />
            </mat-form-field>
            <app-error-messages [control]="txTransporte"></app-error-messages>
            <mat-autocomplete #autoCompleteTransporte="matAutocomplete">
              <mat-option *ngFor="let transporte of transportesFiltrados" [value]="transporte.nombre" [id]="transporte.id.toString()">
                {{transporte.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fecha de Pedido</mat-label>
              <input matInput [matDatepicker]="pickerPedido" [formControl]="txFechaPedido"/>
              <mat-datepicker-toggle matSuffix [for]="pickerPedido"></mat-datepicker-toggle>
              <mat-datepicker #pickerPedido></mat-datepicker>
            </mat-form-field>
            <app-error-messages [control]="txFechaPedido"></app-error-messages>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fecha de Entrega</mat-label>
              <input matInput [matDatepicker]="pickerEntrega" [formControl]="txFechaEntrega" [min]="this.txFechaPedido.value"/>
              <mat-datepicker-toggle matSuffix [for]="pickerEntrega"></mat-datepicker-toggle>
              <mat-datepicker #pickerEntrega></mat-datepicker>
            </mat-form-field>
            <app-error-messages [control]="txFechaEntrega"></app-error-messages>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Observaciones</mat-label>
              <input type="text" matInput [formControl]="txObservaciones"/>
            </mat-form-field>
            <app-error-messages [control]="txObservaciones"></app-error-messages>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Estado</mat-label>
              <mat-select [formControl]="txEstadoPedido">
                <mat-option *ngFor="let estado of estadosPedidoFiltrados" [value]="estado.id">
                  {{ estado.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-error-messages [control]="txEstadoPedido"></app-error-messages>
          </div>
        </div>

        <mat-divider class="my-3"></mat-divider>
        <br *ngIf="productos.length == 0">

        <!-- loading -->
        <div class="spinner-wrapper" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>

        <div class="row pt-4" *ngIf="productos.length > 0">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Producto</mat-label>
              <input type="text" matInput [formControl]="txBuscar"/>
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-8">
            <button mat-stroked-button color="primary" class="btn round new-product-btn" (click)="registrarNuevoProducto()" [disabled]="formDesactivado || listaProductosDeshabilitada">
              <mat-icon>add</mat-icon>Nuevo producto
            </button>
          </div>
        </div>

        <br>

        <mat-card class="mat-card" [hidden]="(productos.length === 0 || this.dataSourceProductos.filteredData.length == 0)">
          <mat-card-content>
            <div class="row">

              <div class="col-md-12">
                <mat-table [dataSource]="dataSourceProductos" matSort class="custom-table" [class.disabled-table]="formDesactivado || listaProductosDeshabilitada">
                  <ng-container matColumnDef="imgProducto">
                    <mat-header-cell *matHeaderCellDef>IMAGEN</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Imagen">
                      <img [src]="producto.imgProducto" class="img-thumbnail"/>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCTO</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Producto">{{ producto.nombre }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="costo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>COSTO COMPRA</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Costo de Compra">
                      $ {{ producto.costo | number:'1.2-2':'es-AR' }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tipoProducto">
                    <mat-header-cell *matHeaderCellDef>TIPO PRODUCTO</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Tipo Producto">{{ producto.tipoProducto?.nombre }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="proveedor">
                    <mat-header-cell *matHeaderCellDef>PROVEEDOR</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Proveedor">{{ producto.proveedor?.nombre }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="marca">
                    <mat-header-cell *matHeaderCellDef>MARCA</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Marca">{{ producto.marca?.nombre }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="cantidad">
                    <mat-header-cell *matHeaderCellDef>CANTIDAD</mat-header-cell>
                    <mat-cell *matCellDef="let producto" data-label="Cantidad">
                      <div class="d-flex align-items-center justify-content-right">
                        <button class="btn btn-light btn-sm" (click)="disminuirCantidad(producto)">-</button>
                        <input type="text" disabled class="form-control form-control-sm mx-2 text-center quantity-input" value="{{producto.cantidadSeleccionada}}">
                        <button class="btn btn-light btn-sm" (click)="aumentarCantidad(producto)">+</button>
                      </div>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
                </mat-table>
                <mat-paginator
                  [length]="this.productos.length"
                  [disabled]="formDesactivado"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>

      <h5 *ngIf="!isLoading && (this.productos.length == 0 || this.dataSourceProductos.filteredData.length == 0)" class="alert alert-secondary text-center">
        No se encuentran productos del proveedor seleccionado para mostrar, por favor realice una nueva búsqueda.
      </h5>

      <br [hidden]="(productos.length === 0 || this.dataSourceProductos.filteredData.length == 0)">
      <mat-divider [hidden]="(productos.length === 0 || this.dataSourceProductos.filteredData.length == 0)"></mat-divider>

      <div class="row pt-4" [hidden]="(productos.length === 0 || this.dataSourceProductos.filteredData.length == 0)">
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Costo de Compra</mat-label>
            <input type="text" matInput [formControl]="txSubtotal" mask="separator.2" prefix="$ " thousandSeparator="," />
          </mat-form-field>
          <app-error-messages [control]="txSubtotal"></app-error-messages>
        </div>
        <div class="col-md-auto d-flex align-items-center justify-content-center symbol-cost">
          <span>+</span>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Costo de Transporte</mat-label>
            <input type="text" matInput [formControl]="txMontoEnvio" mask="separator.2" prefix="$ " thousandSeparator="," />
          </mat-form-field>
          <app-error-messages [control]="txMontoEnvio"></app-error-messages>
        </div>
        <div class="col-md-auto d-flex align-items-center justify-content-center symbol-cost">
          <span>+</span>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Impuestos</mat-label>
            <mat-select [formControl]="txImpuestos">
              <mat-option value="21">IVA (21%)</mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txImpuestos"></app-error-messages>
        </div>
        <div class="col-md-auto d-flex align-items-center justify-content-center symbol-cost">
          <span>-</span>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descuentos a productos</mat-label>
            <mat-select [formControl]="txDescuento">
              <mat-option *ngFor="let descuento of descuentos" [value]="descuento.value">
                {{ descuento.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txDescuento"></app-error-messages>
        </div>
      </div>

      <div class="row pt-4 justify-content-center" [hidden]="(productos.length === 0 || this.dataSourceProductos.filteredData.length == 0)">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total</mat-label>
            <input type="text" matInput [formControl]="txTotal" mask="separator.2" prefix="$ " thousandSeparator="," />
          </mat-form-field>
          <app-error-messages [control]="txTotal"></app-error-messages>
        </div>
      </div>

      <mat-divider class="my-3"></mat-divider>

      <!-- Btn de cancelar, registrar y modificar -->
      <div class="row text-right">
        <div class="col d-flex justify-content-end">
          <button mat-button color="accent" class="btn round" (click)="cancelar()" id="btnLimpiarFiltro">
            {{ (!data.editar && esConsulta) ? 'Volver' : 'Cancelar' }}
          </button>
          <button *ngIf="!esConsulta" mat-raised-button color="accent" class="btn round" (click)="registrarNuevoPedido()" id="btnBuscar">Registrar</button>
          <button *ngIf="data.editar" mat-raised-button color="accent" class="btn round" (click)="modificarPedido()" id="btnBuscar2">Modificar</button>
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
