.dialog-container {
  max-height: 70vh;
  overflow-y: auto;
}

.custom-spacing {
  margin-right: 25px;
}

.img-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.new-product-btn {
  height: 75%;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}

.symbol-cost {
  font-size: 24px;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 2.2;
}

.quantity-input {
  width: 40px;
}

.disabled-table {
  pointer-events: none;
  opacity: 0.6;
}

.mat-card {
  min-width: 400px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}

@media (max-width: 992px) {
  .custom-table {
    width: 100%;
    overflow-x: auto;  /* Habilitar el desplazamiento en pantallas medianas */
    min-width: 900px;  /* Reducimos el ancho mínimo en pantallas más pequeñas */

  }
}

@media (max-width: 768px) {
  .custom-table {
    width: 100%;

  }

  .new-product-btn {
    height: 40px;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
  }

  .mat-card {
    min-width: 250px; /* Establece el ancho mínimo de la tarjeta */
    width: 100%; /* Ancho completo hasta que alcance el mínimo */
    overflow-x: auto;
  }
}

.form-emergente {
  min-width: 250px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}
