/* Producto seleccionado */
.selected-card {
  border: 2px solid #2563eb !important;
}

.invoice-title {
  color: #2563eb !important;;
}

/* Estilo general del card de productos */
.product-list {
  min-height: 85vh;
}

/* Botón 'Nuevo producto' */
.new-product-btn {
  height: 75%;
  width: 100%;
}

/* Tarjeta de producto */
.product-card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 10px;
  background: var(--bg-card);
  border: var(--border-productos-venta);
}

/* Círculo con la cantidad seleccionada */
.selected-product-circle {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #2563eb;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Icono del producto */
.product-icon {
  color: grey;
  font-size: 25px;
}

.nombre-producto {
  color: var(--color-text-title);
}

/* Precio del producto */
.product-price {
  font-size: 18px;
  color: var(--color-text-title);
}

.product-price-seleccionado {
  font-size: 18px;
  color: #2563eb;
}

/* Mensaje de producto vacío */
.empty-product-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  margin-top: 30vh;
}

/* Factura de venta */
.sale-invoice {
  height: auto;
}

/* Título de la factura */
.invoice-title {
  color: #2563eb;
}

/* Botón 'Nuevo cliente' */
.new-client-btn {
  height: 75%;
}

/* Input de cantidad */
.quantity-input {
  width: 40px;
}


/* Carrito vacío */
.empty-cart {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}

/* Contador de productos seleccionados */
.product-count {
  color: grey;
  font-weight: 500;
}

.custom-align-center h5 {
  margin: 0; /* Elimina los márgenes por defecto */
  line-height: 1.5rem; /* Ajusta la altura de línea si es necesario */
}

.btn-custom {
  background-color: #2563eb; /* Color del botón */
  color: white;
  width: 100%; /* Ancho completo del botón */
  display: flex;
  justify-content: space-between; /* Espacio entre el texto y el precio */
  align-items: center; /* Alineación vertical centrada */
  padding: 10px 20px; /* Espaciado interno del botón */
}

.btn-custom:hover {
  background-color: #1d4ed8; /* Color del botón */
}

.text-small {
  font-size: 12px; /* Tamaño de letra pequeño para los textos de abajo */
}
.text-right {
  text-align: right; /* Alineación a la derecha para el precio */
}


.summary-container {
  background-color: var(--bg-summary-venta); /* Color de fondo similar al de la imagen */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}
.dotted-line {
  border-top: 1px dotted #ccc; /* Línea punteada */
  margin: 10px 0; /* Espaciado arriba y abajo de la línea */
}
.summary-row {
  display: flex;
  justify-content: space-between; /* Espacio entre el texto y el monto */
  align-items: center;
}
.text-summary {
  font-weight: 500;
  color: #938885;
}

.btn-cancelar {
  text-decoration: none;
  color: #2563eb;
}

.btn-cancelar:hover {
  cursor: pointer;
}

.producto-item {
  background-color: var(--bg-card);
  position: relative;
  color: var(--color-text-title);
}

.producto-item:hover {
  background-color: var(--bg-hover-items-home);
  cursor: pointer;
}

.producto-item:hover .costo {
  display: none; /* Esconde el texto de costo */
}

.producto-item:hover .iconos-editar-eliminar {
  display: inline-block; /* Muestra los iconos */
}

.iconos-editar-eliminar {
  display: none; /* Ocultar íconos por defecto */
}

.iconos-editar-eliminar i {
  margin-left: 10px;
  cursor: pointer;
  color: #6c757d; /* Color de los íconos */
}

.iconos-editar-eliminar i:hover {
  color: #343a40; /* Color más oscuro al hacer hover */
}

.product-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 180px; /* Aumenta el tamaño de la imagen */
  border-radius: 10%;
}

.product-icon {
  font-size: 120px; /* Aumenta el tamaño del icono si no hay imagen */
}

.codigoBarra {
  font-size: 12px;
  color: #9c9898;
}

.product-name {
  color: var(--product-name-detalle-venta);
}

.text-muted-custom {
  color: var(--text-muted-custom);
}

.stock-disponible {
  background-color: #d4edda;
  color: #318142;
  padding: 5px;
  border-radius: 3px;
}

.stock-medio {
  background-color: #fff3cd;
  color: #eab318;
  padding: 5px;
  border-radius: 3px;
}

.sin-stock {
  background-color: #ffdfe2;
  color: #83393f;
  padding: 5px;
  border-radius: 3px;
}

.cantidadStock {
  font-size: 14px;
  color: #777777;
  margin-top: 10px;
}

.producto-sin-stock {
  opacity: 0.5;
  pointer-events: none; /* Desactiva la interacción del usuario */
}

.btn-buscar-producto {
  margin-right: 15px;
}

.summary-container-spacing {
  margin-bottom: 16px; // Espaciado entre el contenedor y el divider
}


@media (max-width: 1200px) {
  .new-product-btn {
    height: 50px;
    width: 100%;
  }
}
