<div class="container py-3">
  <div class="row g-3">
    <!-- Lista de productos -->
    <div class="col-xl-7">
      <mat-card class="p-4 product-list">
        <h2 class="invoice-title">Venta</h2>
        <mat-divider></mat-divider>
        <br>
        <br>
        <div class="row">

          <!-- Botón del código de barras -->
          <div class="col-1 btn-buscar-producto">
            <button mat-icon-button (click)="enfocar()">
              <mat-icon>qr_code_scanner</mat-icon>
            </button>
          </div>

          <!-- Input de búsqueda -->
          <div class="col-10 col-xl-7">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Producto</mat-label>
              <input type="text" [formControl]="txBuscar" id="txBuscar" matInput/>
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <app-error-messages [control]="txBuscar"></app-error-messages>
          </div>

          <!-- Botón de 'Nuevo producto' -->
          <div class="col-sm-12 col-xl-3">
            <button mat-stroked-button color="primary" class="btn round new-product-btn" (click)="registrarProducto()" [appRole]="['Administrador', 'Encargado']">
              <mat-icon>add</mat-icon>Nuevo producto
            </button>
          </div>
        </div>

        <br>

        <!-- Lista de productos a seleccionar -->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 p-4" *ngFor="let producto of productosFiltrados | slice:0:limiteProductos"> <!-- Ajustar columnas para pantallas pequeñas -->
            <div class="card product-card"
                 [ngClass]="{
                    'selected-card': producto.seleccionadoParaVenta,
                    'producto-sin-stock': producto.cantidadEnStock == 0 || producto.cantidadEnStock == null
                  }"
                 (click)="producto.cantidadEnStock > 0 && seleccionarProducto(producto)">

              <!-- Círculo con el número en la esquina superior derecha -->
              <div *ngIf="producto.seleccionadoParaVenta"
                   class="selected-product-circle">
                {{ producto.cantidadSeleccionada }}
              </div>

              <!-- Imagen del producto o icono si no hay imagen -->
              <div class="row h-75 d-flex justify-content-center align-items-center">
                <ng-container *ngIf="producto.imgProducto; else showIcon">
                  <img [src]="producto.imgProducto" alt="{{producto.nombre}}" class="product-img">
                </ng-container>
                <ng-template #showIcon>
                  <mat-icon class="product-icon">loyalty</mat-icon>
                </ng-template>
              </div>

              <!-- Nombre y código de barra del producto -->
              <div class="row align-items-center text-center my-3">
                <div class="col nombre-producto">
                  {{producto.nombre}}
                </div>
                <div class="w-100 codigoBarra">
                  [ {{producto.codigoBarra}} ]
                </div>

                <div class="w-100 cantidadStock">
                  <b [ngClass]="obtenerClaseStock(producto)">
                    {{ producto.cantidadEnStock > 0 ? ('Cantidad: ' + producto.cantidadEnStock) : 'Sin stock' }}
                  </b>
                </div>
              </div>

              <!-- Precio del producto -->
              <div class="row align-items-center text-center mb-3">
                <div class="col">
                  <strong [ngClass]="!producto.seleccionadoParaVenta ? 'product-price' : 'product-price-seleccionado'" >$ {{producto.precioConIVA * (1 - (this.producto.promocion ? this.producto.promocion.porcentajeDescuento : 0) / 100) | number:'1.2-2':'es-AR' }}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- loading -->
        <div class="spinner-wrapper" *ngIf="cargandoProductos">
          <mat-spinner></mat-spinner>
        </div>

        <!-- Mensaje de que no hay productos -->
        <div class="text-center" *ngIf="productos.length == 0 && !cargandoProductos">
          <div class="empty-product-message">
            <p>
              Para realizar tu primer venta, te invitamos a crear tu primer producto.
            </p>
            <button mat-raised-button color="accent" class="btn round" id="btnBuscar" (click)="registrarProducto()">Nuevo producto</button>
          </div>
        </div>

      </mat-card>
    </div>

    <!-- Factura de venta -->
      <div class="col" [formGroup]="form">
        <mat-card class="p-4 sale-invoice mt-1">
          <h2 class="invoice-title">Detalle de venta</h2>
          <mat-divider></mat-divider>
          <br>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Forma de pago</mat-label>
                <mat-select [formControl]="txFormaDePago" (valueChange)="cambiarFormaDePago($event)">
                  <mat-option *ngFor="let fdp of this.formasDePago" [value]="fdp.id">
                    {{ fdp.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txFormaDePago"></app-error-messages>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tipo de Facturación</mat-label>
                <mat-select [formControl]="txTipoFacturacion">
                  <mat-option *ngFor="let tp of this.tiposDeFacturacion" [value]="tp.id">
                    {{ tp.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txTipoFacturacion"></app-error-messages>
            </div>
          </div>

          <div class="row" *ngIf="mostrarTarjetasCuotas">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tarjeta</mat-label>
                <mat-select [formControl]="txTarjeta" (valueChange)="seleccionarTarjeta($event)">
                  <mat-option *ngFor="let tarjeta of this.tarjetasRegistradas" [value]="tarjeta.id">
                    {{ tarjeta.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txTarjeta"></app-error-messages>
            </div>
            <div class="col-3" *ngIf="this.txFormaDePago.value == this.formasDePagoEnum.TARJETA_CREDITO">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Cuotas</mat-label>
                <mat-select [formControl]="txCuotas" (valueChange)="seleccionarCuota($event)">
                  <mat-option *ngFor="let cpt of tarjetaSeleccionada.cuotaPorTarjeta" [value]="cpt.id">
                    {{ cpt.cantidadCuota }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txCuotas"></app-error-messages>
            </div>
            <div class="col-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ult. 4 dig.</mat-label>
                <input type="text" matInput [formControl]="tx4UltimosDigitosTarjetas" maxlength="4" minlength="4"/>
              </mat-form-field>
              <app-error-messages [control]="tx4UltimosDigitosTarjetas"></app-error-messages>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Caja</mat-label>
                <mat-select [formControl]="txCaja">
                  <mat-option *ngFor="let caja of this.listaCajas" [value]="caja.id">
                    {{ caja.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txCaja"></app-error-messages>
            </div>

            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Empleado</mat-label>
                <mat-select [formControl]="txEmpleado">
                  <mat-option *ngFor="let empleado of this.listaEmpleados" [value]="empleado.id">
                    {{ empleado.nombre + ' ' + empleado.apellido }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txEmpleado"></app-error-messages>
            </div>
          </div>
          <div class="row">
            <div class="col-7 col-sm-9">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Cliente</mat-label>
                <mat-select [formControl]="txCliente" (selectionChange)="cambioCliente($event.value)">
                  <mat-option
                    *ngFor="let cliente of clientesFiltrados"
                    [value]="cliente.id"
                    [disabled]="(txTipoFacturacion.value === getTiposFacturacionEnum.FACTURA_A && cliente.id === -1)
                    || (this.totalVenta >= this.montoConsumidorFinal) && cliente.id === -1 ">
                    {{ cliente.nombre + ' ' + cliente.apellido }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-messages [control]="txCliente"></app-error-messages>
            </div>
            <div class="col-3">
              <button mat-stroked-button color="primary" class="btn round new-client-btn" (click)="registrarCliente()">
                <mat-icon>add</mat-icon> Nuevo
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>

          <!-- Productos seleccionados -->
          <div *ngIf="productosSeleccionados.length > 0">
            <div *ngFor="let producto of productosSeleccionados">
              <div class="d-flex justify-content-between align-items-center border-bottom p-3 producto-item">
                <div class="col-4 d-flex flex-column">
                  <span class="m-0 product-name"><b>{{ producto.nombre }}</b></span>
                  <span class="text-muted-custom">P/U: $ {{ (producto.precioConIVA) | number:'1.2-2':'es-AR' }}</span>
                  <span class="text-muted-custom" *ngIf="(producto.promocion?.id) &&  producto.promocion?.id != -1" [matTooltip]="producto.promocion.nombre">Promoción: - {{ producto.promocion.porcentajeDescuento + '%' }}</span>
                </div>
                <div class="d-flex align-items-center col-4 justify-content-center">
                  <button class="btn btn-light btn-sm" (click)="disminuirCantidad(producto)">-</button>
                  <input type="text" disabled class="form-control form-control-sm mx-2 text-center quantity-input" value="{{producto.cantidadSeleccionada}}">
                  <button class="btn btn-light btn-sm" (click)="aumentarCantidad(producto)" [disabled]="producto.cantidadSeleccionada == producto.cantidadEnStock">+</button>
                </div>
                <div class="text-end col-4">
                  <span class="m-0 costo product-name"><b>$ {{ (producto.precioConIVA * (1 - (this.producto.promocion ? this.producto.promocion.porcentajeDescuento : 0) / 100)) * producto.cantidadSeleccionada | number:'1.2-2':'es-AR' }}</b></span>
                  <div class="iconos-editar-eliminar ">
                    <button mat-icon-button [matTooltip]="'Editar en esta venta'" (click)="editarProductoEnVenta(producto)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button [matTooltip]="'Quitar'" (click)="eliminarProductoDeVenta(producto)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Resumen si pagas con tarjeta o con saldo de cuenta corriente-->
          <div class="mt-4" *ngIf="productosSeleccionados.length > 0 && cantidadCuotaSeleccionada.id">

            <div class="summary-container">
              <div>
                <div class="summary-row" *ngIf="cantidadCuotaSeleccionada.interes">
                  <span>Interés por tarjeta ({{this.cantidadCuotaSeleccionada.interes ? (this.cantidadCuotaSeleccionada.interes | number:'1.2-2':'es-AR') : 0}}%)</span>
                  <span class="text-summary">$ {{ this.interesPorTarjeta | number:'1.2-2':'es-AR' }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Carrito vacio -->
          <div *ngIf="productosSeleccionados.length == 0" class="empty-cart">
            <mat-icon>add_shopping_cart</mat-icon>
            <p>Acá verás los productos que elijas para tu venta</p>
          </div>

          <!-- Botones -->
          <div class="mt-4">
            <button class="btn btn-custom" [disabled]="totalVenta == 0 || registrandoVenta" (click)="confirmarVenta()" [appRole]="['Cajero', 'Encargado']">
              <span>Confirmar venta</span>
              <span class="text-right">
                $ {{ this.totalVenta | number:'1.2-2':'es-AR' }}
              </span>
            </button>
            <!-- loading -->
            <div *ngIf="registrandoVenta">
              <br>
              <div class="spinner-wrapper">
                <mat-spinner></mat-spinner>
              </div>
              <br>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <span class="text-small">
                {{ productosSeleccionados.length }}
                {{ productosSeleccionados.length === 1 ? 'Producto' : 'Productos' }}
              </span>
              <a (click)="cancelarVenta()" class="text-small btn-cancelar">Cancelar</a>
            </div>
          </div>

        </mat-card>
      </div>
  </div>
</div>
