.asistencia-card {
  width: 350px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .mat-icon-button {
    margin: 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .button-check {
    color: lightgreen;
  }

  .button-logout {
    color: lightcoral;
  }

  .button-comment {
    color: black;
  }

  .button-absence {
    color: black;
  }
}

.nombre-cell {
  display: flex;
  align-items: center;
}

.person-icon {
  margin-right: 8px;
}

button.button-check[disabled],
button.button-logout[disabled] {
  color: #9e9e9e;
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-table {
  width: 100%;
  min-width: 800px;  /* Reducimos el ancho mínimo en pantallas más pequeñas */
}

@media (max-width: 450px) {
  .asistencia-card {
  width: 300px;
  }

  .mat-card-fondo-asistencia {
    overflow: hidden;
    height: 375px;
    min-width: 360px;
  }
}

.warning-icon {
  color: #2563eb;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

.accepted-icon {
  color: greenyellow;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

.rejected-icon {
  color: indianred;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

.eliminar-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.custom-date-color {
  color: var(--custom-date-color) !important;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
