<div class="container py-3 px-4 col-xl-12" [class.dark-mode]="darkMode">

  <!-- Tarjeta de bienvenida y opciones -->
  <mat-card class="mat-elevation-z12 p-4 mat-card-fondo-asistencia">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Panel de Empleado</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">¡Bienvenido {{ nombreApellido }}!</h4>

    <br>

    <!-- Mat-card asistencia del día -->
    <div class="d-flex justify-content-center">
      <mat-card class="asistencia-card p-4">
        <span class="custom-date-color">{{ fechaHoy | date: 'dd/MM/yyyy' }}</span>

        <p *ngIf="presente">
          Indicaste tu entrada a las {{ horaEntrada }}
        </p>
        <p *ngIf="!presente">
          ¡Recuerda marcar tu asistencia!
        </p>

        <p *ngIf="salida">
          Indicaste tu salida a las {{ horaSalida }}
        </p>
        <p *ngIf="presente && !salida">
          ¡Recuerda marcar tu salida!
        </p>

        <div class="d-flex justify-content-between mt-4 button-group">
          <button mat-icon-button class="button-check" (click)="marcarPresente()" [disabled]="botonPresenteDeshabilitado" matTooltip="Marcar Entrada">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button class="button-logout" (click)="marcarSalida()" [disabled]="botonSalidaDeshabilitado" matTooltip="Marcar Salida">
            <mat-icon>logout</mat-icon>
          </button>
          <button mat-icon-button class="button-absence" (click)="marcarLicencia()" [disabled]="botonLicenciaDeshabilitado" matTooltip="Solicitar Licencia">
            <mat-icon>add_circle_outlinen</mat-icon>
          </button>

          <!-- Diálogo para añadir comentario -->
          <ng-template #dialogoComentario>
            <div class="container py-3 col-xl-11">
              <br>
              <div class="row">
                <div class="col d-flex justify-content-between align-items-center">
                  <p class="titulo">Añadir Comentario</p>
                </div>
              </div>

              <br>
              <mat-divider></mat-divider>


              <div mat-dialog-content>
                <form [formGroup]="form">
                  <div class="row pt-4">
                    <div class="col-md-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Comentario</mat-label>
                        <textarea matInput [formControl]="txComentario"
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="3"
                                  cdkAutosizeMaxRows="10">
                        </textarea>
                      </mat-form-field>
                      <app-error-messages [control]="txComentario"></app-error-messages>
                    </div>
                  </div>
                </form>
              </div>

              <mat-divider></mat-divider>
              <br>

              <div mat-dialog-actions>
                <div class="row text-right">
                  <div class="col d-flex justify-content-end">
                    <button mat-button color="warn" class="btn round" (click)="dialogoComentarioRef.close()" id="btnLimpiarFiltro">Cancelar</button>
                    <button mat-raised-button color="primary" class="btn round" (click)="guardarComentario()" id="btnBuscar2">Guardar</button>
                  </div>
                </div>
              </div>

              <br>
            </div>
          </ng-template>
        </div>
      </mat-card>
    </div>
  </mat-card>

  <br>

  <mat-card-header class="header-card">
    <h2 style="color: grey">Asistencias y licencias encontradas</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isSearchingLicencias || isSearchingAsistencias">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Implementación de Mat-Tab-Group -->
  <mat-tab-group mat-align-tabs="#2563eb" color="warn" [hidden]="isSearchingLicencias && isSearchingAsistencias">
    <!-- Pestaña de asistencias -->
    <mat-tab label="Asistencias">
      <mat-card [hidden]="isSearchingAsistencias">
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-table [dataSource]="tableDataSourceAsistencia" matSort class="custom-table">

                <!-- Nombre del empleado -->
                <ng-container matColumnDef="nombreApellido">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>EMPLEADO</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" class="nombre-cell">
                    <mat-icon class="person-icon">person</mat-icon>{{ nombreApellido }}
                  </mat-cell>
                </ng-container>

                <!-- Fecha -->
                <ng-container matColumnDef="fecha">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" class="fecha-cell">
                    {{ asistencia.fecha | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>

                <!-- Hora de entrada -->
                <ng-container matColumnDef="horaEntrada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>HORA DE ENTRADA</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" class="hora-entrada-cell">
                    {{ asistencia.horaEntrada }}
                  </mat-cell>
                </ng-container>

                <!-- Hora de salida -->
                <ng-container matColumnDef="horaSalida">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>HORA DE SALIDA</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" class="hora-salida-cell">
                    {{ asistencia.horaSalida }}
                  </mat-cell>
                </ng-container>

                <!-- Comentario -->
                <ng-container matColumnDef="comentario">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>COMENTARIO</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" class="comentario-cell">
                    {{ asistencia.comentario }}
                  </mat-cell>
                </ng-container>

                <!-- Acciones -->
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                  <mat-cell *matCellDef="let asistencia" class="acciones-cell">
                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Añadir Comentario">
                      <mat-icon class="icono-acciones">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="abrirDialogComentario(asistencia)">Añadir comentario</button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>

                <!-- Definir las filas y las columnas -->
                <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
              </mat-table>

              <!-- Mensaje cuando no hay asistencias -->
              <h5 *ngIf="asistencias.length === 0" class="alert alert-secondary text-center">
                No se encuentran asistencias para mostrar, realice una nueva búsqueda.
              </h5>

              <mat-paginator
                             [length]="asistencias.length"
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <!-- Pestaña de licencias -->
    <mat-tab label="Licencias">
      <mat-card [hidden]="isSearchingLicencias">
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-table [dataSource]="tableDataSourceLicencia" matSort class="custom-table">

                <!-- Nombre del empleado -->
                <ng-container matColumnDef="nombreApellido">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>EMPLEADO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    <mat-icon class="person-icon">person</mat-icon>{{ nombreApellido }}
                  </mat-cell>
                </ng-container>

                <!-- Periodo -->
                <ng-container matColumnDef="periodo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>PERIODO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    {{ licencia.fechaInicio | date: 'dd/MM/yyyy' }} al {{ licencia.fechaFin | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>

                <!-- Motivo -->
                <ng-container matColumnDef="motivo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>MOTIVO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    {{ licencia.motivo.nombre }}
                  </mat-cell>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    <mat-icon *ngIf="licencia.estadoLicencia.id === 1" class="warning-icon" matTooltip="El empleador aún no ha revisado su solicitud.">
                      warning
                    </mat-icon>
                    <mat-icon *ngIf="licencia.estadoLicencia.id === 2" class="accepted-icon" matTooltip="El empleador ha aceptado su solicitud de licencia.">
                      check_circle
                    </mat-icon>
                    <mat-icon *ngIf="licencia.estadoLicencia.id === 3" class="rejected-icon" matTooltip="El empleador ha denegado su solicitud de licencia.">
                      cancel
                    </mat-icon>
                    {{ licencia.estadoLicencia.nombre }}
                  </mat-cell>
                </ng-container>

                <!-- Comentario -->
                <ng-container matColumnDef="comentario">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>COMENTARIO</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    {{ licencia.comentario }}
                  </mat-cell>
                </ng-container>

                <!-- Acciones -->
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                  <mat-cell *matCellDef="let licencia">
                    <button class="eliminar-btn" mat-icon-button color="primary" matTooltip="Eliminar" [disabled]="licencia.estadoLicencia.id !== 1" (click)="eliminarLicencia(licencia.id)">
                      <mat-icon class="eliminar">delete</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="licenciaMenu" matTooltip="Opciones">
                      <mat-icon class="icono-acciones">more_vert</mat-icon>
                    </button>
                    <mat-menu #licenciaMenu="matMenu">
                      <button mat-menu-item (click)="abrirDialogComentario(licencia)">Añadir comentario</button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>

                <!-- Definir las filas y las columnas -->
                <mat-header-row *matHeaderRowDef="columnasLicencias"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnasLicencias;"></mat-row>
              </mat-table>

              <!-- Mensaje cuando no hay licencias -->
              <h5 *ngIf="licencias.length === 0" class="alert alert-secondary text-center">
                No se encuentran licencias para mostrar, realice una nueva búsqueda.
              </h5>

              <mat-paginator
                             [length]="licencias.length"
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
