.header {
  background-color: var(--header-bg);
  color: var(--header-color);
  border-bottom: solid 1px var(--border-color-nav);

  button {
    color: var(--header-color);
  }

  button:hover {
    background-color: var(--menu-item-hover-bg);
  }
}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.grad {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1;
}

mat-sidenav {
  width: 15%;
  background-color: red;
}

.toolbar img {
  margin: 0 16px;
}

.header-logo {
  width: 100px;
  height: auto;
  transition: max-width 0.5s ease;
  margin-left: 15px;
  }

ul li {
  list-style: none;
}

.mat-button {
  align-content: center;
}

.padding-15 {
  padding-top: 15px;
}

