.upload-container {
  width: 100%;
  height: 100%;
  max-height: 320px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s;
  min-height: 100px;
}

.upload-container:hover,
.upload-container.dragover {
  border-color: #2563eb;
}

.upload-text {
  color: #aaa;
  font-size: 18px;
}

.upload-text::after {
  content: 'Arrastra una imagen aquí o haz clic para subir';
}

@media (max-width: 500px) {
  .upload-text::after {
    content: 'Sube una imagen';
  }
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.pixels-data {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  color: #aaa;
}

.row {
  display: flex;
  align-items: stretch;
}

.col-md-8, .col-md-4 {
  display: flex;
  flex-direction: column;
}

.symbol-cost {
  font-size: 24px;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2;
}

.upload-container {
  position: relative;

  .disabled-container {
    pointer-events: none;
    opacity: 0.5;
  }

  &.disabled-container {
    .preview-img {
      opacity: 0.3;
    }
  }
}

.container {
  overflow-x: auto;
}

.form-emergente {
  max-height: calc(100vh - 100px); /* Ajusta según el espacio que necesites */
  min-width: 250px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
  overflow-y: auto;  /* Habilita la barra de desplazamiento vertical */
}
