<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Clientes</p>
        <button
          mat-stroked-button
          color="primary"
          class="btn round mb-3 botonR"
          (click)="registrarNuevoCliente()"
        >Registrar nuevo cliente</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cliente</mat-label>
            <input type="text" matInput [formControl]="txNombre"/>
          </mat-form-field>
          <app-error-messages [control]="txNombre"></app-error-messages>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input type="text" matInput [formControl]="txMail"/>
          </mat-form-field>
          <app-error-messages [control]="txMail"></app-error-messages>
        </div>
      </div>
    </form>


    <!-- Btn de buscar y limpiar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
      </div>
    </div>

  </mat-card>

  <br>


  <mat-card-header class="header-card">
    <h2 style="color: grey">Clientes encontrados</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card class="mat-card" [hidden]="clientes.length === 0">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort class="custom-table">
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
              <mat-cell *matCellDef="let usuario" data-label="Nombre">{{ usuario.nombre + ' ' + usuario.apellido }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="mail">
              <mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
              <mat-cell *matCellDef="let usuario" data-label="Mail">{{ usuario.mail }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones" class="mat-column-acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let usuario" data-label="Acciones">
                <button class="btn" mat-icon-button matTooltip="Ver" (click)="verUsuario(usuario, false)">
                  <mat-icon class="ver">visibility</mat-icon>
                </button>
                <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verUsuario(usuario, true)">
                  <mat-icon class="editar">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary"  matTooltip="Eliminar" (click)="eliminarUsuario(usuario.id)" [appRole]="['Administrador', 'Encargado']">
                  <mat-icon class="eliminar">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row class="queue-row" *matRowDef="let row; columns: columnas"></mat-row>

          </mat-table>

          <mat-paginator
                         [length]="this.clientes.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h5 *ngIf="!isLoading && !(this.clientes.length > 0)" class="alert alert-secondary text-center">
    No se encuentran clientes para mostrar, realice una nueva búsqueda.
  </h5>
</div>



