<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Notificar Promoción</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Sube la imagen y comentario</h4>

    <form [formGroup]="form">
      <div class="row pt-4">
        <div class="col-md-12 d-flex">
          <div class="upload-container d-flex justify-content-center align-items-center mb-3">
            <img *ngIf="previewUrl" [src]="previewUrl" class="preview-img">
            <span *ngIf="!previewUrl" class="upload-text"></span>
            <input type="file" class="file-input" (change)="onFileSelected($event)">
          </div>
          <div class="comment-container d-flex flex-column justify-content-center ml-3 w-100">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Comentario</mat-label>
              <textarea matInput placeholder="Escribe tu comentario aquí..." formControlName="comment" class="comment-textarea mb-3"></textarea>
            </mat-form-field>
            <app-error-messages [control]="comment"></app-error-messages>
            <button mat-icon-button class="emoji-button" (click)="toggleEmojiPicker()">
              <mat-icon>sentiment_very_satisfied</mat-icon>
            </button>
            <emoji-mart class="emoji-mart"
                        *ngIf="showEmojiPicker"
                        (emojiClick)="addEmoji($event)"
                        title="Selecciona un emoji"
                        [i18n]="{
                        search: 'Buscar',
                        emojilist: 'Lista de emojis',
                        clear: 'Limpiar',
                        notfound: 'No se encontraron emojis',
                        categories: {
                          search: 'Resultados encontrados',
                          recent: 'Recientes',
                          people: 'Personas',
                          nature: 'Naturaleza',
                          foods: 'Comida',
                          activity: 'Actividades',
                          places: 'Lugares',
                          objects: 'Objetos',
                          symbols: 'Símbolos',
                          flags: 'Banderas',
                          custom: 'Personalizado'
                        },
                        skintones: {
                          light: 'Claro',
                          medium_light: 'Medio claro',
                          medium: 'Medio',
                          medium_dark: 'Medio oscuro',
                          dark: 'Oscuro'
                        }
                      }"
                        set="apple"
            ></emoji-mart>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-12 d-flex align-items-center justify-content-end">
          <button mat-stroked-button color="primary" class="btn round" (click)="publicar()">Publicar</button>
        </div>
      </div>
    </form>

    <!-- loading -->
    <div class="spinner-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</div>
