.upload-container {
  width: 600px;
  height: 500px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s;
}

.upload-container:hover,
.upload-container.dragover {
  border-color: #2563eb;
}

.upload-text {
  color: #aaa;
  font-size: 18px;
}

.upload-text::after {
  content: 'Arrastra una imagen aquí o haz clic para subir';
}

@media (max-width: 500px) {
  .upload-text::after {
    content: 'Sube una imagen';
  }
}

.mat-card {
  min-width: 450px; /* Establece el ancho mínimo de la tarjeta */
  width: 100%; /* Ancho completo hasta que alcance el mínimo */
  overflow-x: auto;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.comment-container {
  flex-grow: 1;
  margin-left: 20px;
  position: relative;
  width: 700px !important;
}

.comment-textarea {
  height: 450px !important;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 40px;
  box-sizing: border-box;
  resize: none;
}

.emoji-button {
  position: absolute;
  bottom: 25px;
  left: 3px;
  z-index: 1
}

.emoji-mart {
  position: absolute;
  top: calc(100% - 495px);
  left: calc(100% - 615px);
  z-index: 1000;
  width: 300px;
}
