<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Órdenes de Compra</p>
        <button mat-stroked-button color="primary" class="btn round mb-3 botonR btn-registrar" (click)="registrarNuevoPedido()">Registrar nueva orden de compra</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="form">
      <div class="row pt-4">

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número de orden</mat-label>
            <input matInput [formControl]="txPedido" autocomplete="off" type="search"/>
          </mat-form-field>
          <app-error-messages [control]="txPedido"></app-error-messages>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Proveedor</mat-label>
            <mat-select [formControl]="txProveedor">
              <mat-option *ngFor="let proveedor of listaProveedor" [value]="proveedor.id">
                {{ proveedor.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txProveedor"></app-error-messages>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Desde</mat-label>
            <input matInput [matDatepicker]="pickerDesde" [formControl]="txFechaEmisionDesde" [max]="maxDate"/>
            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde></mat-datepicker>
          </mat-form-field>
          <app-error-messages [control]="txFechaEmisionDesde"></app-error-messages>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Hasta</mat-label>
            <input matInput [matDatepicker]="pickerHasta" [formControl]="txFechaEmisionHasta" [max]="maxDate" [min]="txFechaEmisionDesde.value"/>
            <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerHasta></mat-datepicker>
          </mat-form-field>
          <app-error-messages [control]="txFechaEmisionHasta"></app-error-messages>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Estado</mat-label>
            <mat-select [formControl]="txEstado">
              <mat-option *ngFor="let estado of listaEstadosPedido" [value]="estado.id">
                {{ estado.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-messages [control]="txEstado"></app-error-messages>
        </div>
      </div>
    </form>


    <!-- Btn de buscar y limpiar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()" id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" class="btn round" (click)="buscar()" id="btnBuscar">Buscar</button>
      </div>
    </div>

  </mat-card>

  <br>


  <mat-card-header class="header-card">
    <h2 style="color: grey">Órdenes de Compra encontradas</h2>
  </mat-card-header>

  <!-- loading -->
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card class="mat-card" [hidden]="pedidos.length === 0">
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-table [dataSource]="tableDataSource" matSort class="custom-table">
            <ng-container matColumnDef="fechaEmision">
              <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA DE EMISIÓN</mat-header-cell>
              <mat-cell *matCellDef="let pedido" data-label="Fecha de emision">{{ pedido.fechaEmision | date: 'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="numeroPedido">
              <mat-header-cell *matHeaderCellDef mat-sort-header>NÚMERO DE ORDEN</mat-header-cell>
              <mat-cell *matCellDef="let pedido" data-label="Pedido">{{ pedido.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="proveedor">
              <mat-header-cell *matHeaderCellDef>PROVEEDOR</mat-header-cell>
              <mat-cell *matCellDef="let pedido" data-label="Proveedor">{{ pedido.proveedor.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</mat-header-cell>
              <mat-cell *matCellDef="let pedido" data-label="Subtotal" >$ {{ pedido.total | number:'1.2-2':'es-AR'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
              <mat-cell *matCellDef="let pedido" data-label="Estado">
                <mat-icon
                  *ngIf="pedido.estadoPedido.id === 1 || pedido.estadoPedido.id === 3"
                  class="warning-icon"
                  matTooltip="{{ getWarningMessage(pedido.estadoPedido.id) }}"
                >
                  warning
                </mat-icon>
                {{ pedido.estadoPedido.nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
              <mat-cell *matCellDef="let pedido" data-label="Acciones">
                <button class="btn" mat-icon-button matTooltip="Ver" (click)="verPedido(pedido, false)">
                  <mat-icon class="ver">visibility</mat-icon>
                </button>
                <button class="btn" mat-icon-button matTooltip="Modificar" (click)="verPedido(pedido, true)">
                  <mat-icon class="editar">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary"  matTooltip="Eliminar" (click)="eliminarPedido(pedido.id)">
                  <mat-icon class="eliminar">delete</mat-icon>
                </button>
                <button mat-icon-button color="primary"  matTooltip="Imprimir" (click)="imprimirPedido(pedido)">
                  <mat-icon class="imprimir">print</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row class="queue-row" *matRowDef="let row; columns: columnas"></mat-row>

          </mat-table>

          <mat-paginator
                         [length]="this.pedidos.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <h5 *ngIf="!isLoading && !(this.pedidos.length > 0)" class="alert alert-secondary text-center">
    No se encuentran órdenes de compra para mostrar, realice una nueva búsqueda.
  </h5>
</div>


