.warning-icon {
  color: #2563eb;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

@media (max-width: 992px) {
  .custom-table {
    width: 100%;
    overflow-x: auto;  /* Habilitar el desplazamiento en pantallas medianas */

  }
  .btn-registrar {
    padding: 25px;
  }
  .mat-mdc-table mat-header-row.mat-mdc-header-row, .mat-mdc-table mat-row.mat-mdc-row, .mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .custom-table {
    width: 100%;
    min-width: 700px;  /* Reducimos el ancho mínimo en pantallas más pequeñas */
  }
}
