<div class="container py-3 col-xl-11">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Estadísticas de ventas</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <h4 style="color: grey">Filtros de búsqueda</h4>

    <form [formGroup]="filtersForm">
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Desde</mat-label>
            <input matInput [matDatepicker]="pickerInicio" formControlName="start_date" [max]="maxDate"/>
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Hasta</mat-label>
            <input matInput [matDatepicker]="pickerFin" formControlName="end_date" [max]="maxDate" [min]="txFechaDesde.value"/>
            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFin></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Método de pago</mat-label>
            <mat-select formControlName="payment_method">
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let method of paymentMethods"
                          [value]="method">{{ method }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="var_category">
              <mat-option value="">Todas</mat-option>
              <mat-option *ngFor="let category of categories"
                          [value]="category">{{ category }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Empleado</mat-label>
            <mat-select formControlName="employee_name">
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let employee of employees"
                          [value]="employee">{{ employee }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>


    <!-- Btn de buscar y limpiar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-button color="accent" class="btn round" (click)="limpiarFiltros()"
                id="btnLimpiarFiltro">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
      </div>
    </div>


  </mat-card>
  <br>
  <mat-card class="mat-card">
    <mat-card-content>
      <div class="col-md-12">
        <!-- Gráficos -->
        <div class="row mt-4">
          <div class="col-md-12 mb-4">
            <div class="chart-card chart-full">
              <h3 class="chart-title"><span class="icon">📊</span> Ventas totales por forma de pago
              </h3>
              <div class="chart-container">
                <canvas id="chartFormaPago"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6 mb-4">
            <div class="chart-card">
              <h3 class="chart-title"><span class="icon">📈</span> Ranking de ventas por categoría</h3>
              <div class="chart-container">
                <canvas id="chartCategoria"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="chart-card">
              <h3 class="chart-title"><span class="icon">⏰</span> Ventas por fecha y hora</h3>
              <div class="chart-container">
                <canvas id="chartFechaHora"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="chart-card chart-full">
              <h3 class="chart-title"><span class="icon">👤</span> Ventas por empleados</h3>
              <div class="chart-container">
                <canvas id="chartEmpleados"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="chart-card chart-full">
              <h3 class="chart-title"><span class="icon">🙍‍♂️</span> Ventas por clientes</h3>
              <div class="chart-container">
                <canvas id="chartClientes"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


