
.checkbox-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el checkbox y el ícono */
  gap: 8px; /* Espaciado horizontal entre checkbox e ícono */
}

.info-icon {
  cursor: pointer;
  color: grey;
}

.info-icon:hover {
  color: #2563eb; /* Cambia de color al pasar el mouse */
}

.leyenda {
  font-size: 0.7rem;
  color: var(--color-text-title);
  opacity: 0.7;
}

