<!-- loading -->
<p *ngIf="isSearchingConfiguration">
  <br>
</p>
<div class="spinner-wrapper" *ngIf="isSearchingConfiguration">
  <mat-spinner></mat-spinner>
</div>

<div class="container py-3 col-xl-11" *ngIf="!isSearchingConfiguration">
  <mat-card class="mat-elevation-z12 p-4 mat-card">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <p class="titulo">Configuración</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <h4 style="color: grey">Información del Usuario Administrador</h4>

    <form [formGroup]="form">
      <!-- idUsuario y Nombre de Usuario -->
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>ID Usuario</mat-label>
            <input type="text" matInput [formControl]="idUsuario"/>
          </mat-form-field>
          <app-error-messages [control]="idUsuario"></app-error-messages>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre de Usuario</mat-label>
            <input type="text" matInput [formControl]="nombreUsuario"/>
          </mat-form-field>
          <app-error-messages [control]="nombreUsuario"></app-error-messages>
        </div>
      </div>

      <br>
      <h4 style="color: grey">Información del Comercio</h4>

      <!-- Razon Social y Domicilio Comercial -->
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Razón Social</mat-label>
            <input type="text" matInput [formControl]="razonSocial" />
          </mat-form-field>
          <app-error-messages [control]="razonSocial"></app-error-messages>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Provincia</mat-label>
            <input type="text" matInput [formControl]="provincia" />
          </mat-form-field>
          <app-error-messages [control]="provincia"></app-error-messages>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Localidad</mat-label>
            <input type="text" matInput [formControl]="ciudad" />
          </mat-form-field>
          <app-error-messages [control]="ciudad"></app-error-messages>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Código Postal</mat-label>
            <input type="text" matInput [formControl]="codigoPostal" />
          </mat-form-field>
          <app-error-messages [control]="codigoPostal"></app-error-messages>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Calle</mat-label>
            <input type="text" matInput [formControl]="calle" />
          </mat-form-field>
          <app-error-messages [control]="calle"></app-error-messages>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número</mat-label>
            <input type="text" matInput [formControl]="numero" />
          </mat-form-field>
          <app-error-messages [control]="numero"></app-error-messages>
        </div>
      </div>

      <!-- CUIT, Fecha de Inicio de Actividades y Condición IVA -->
      <div class="row pt-4">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>CUIT</mat-label>
            <input type="text" mask="00-00000000-0" matInput [formControl]="cuit" />
          </mat-form-field>
          <app-error-messages [control]="cuit"></app-error-messages>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Inicio de Actividades</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="fechaInicioActividades" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-error-messages [control]="fechaInicioActividades"></app-error-messages>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Condición frente al IVA</mat-label>
            <input type="text" matInput [formControl]="condicionIva" />
          </mat-form-field>
          <app-error-messages [control]="condicionIva"></app-error-messages>
        </div>
      </div>

      <br>

      <h4 style="color: grey">Ventas</h4>
      <div class="row pt-4">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Monto consumidor final</mat-label>
            <input type="text" matInput [formControl]="txMontoConsumidorFinal" mask="separator.2" prefix="$ " thousandSeparator=","/>
          </mat-form-field>
          <app-error-messages [control]="txMontoConsumidorFinal"></app-error-messages>
        </div>
        <p class="leyenda">
          Este es el monto a partir del cual no se permitirá registrar una venta sin seleccionar cliente (consumidor final).
        </p>
      </div>

      <br>

      <h4 style="color: grey">Facturación</h4>
      <div class="row pt-4">
        <div class="checkbox-container col-md-6">
          <mat-checkbox [formControl]="facturacionAutomatica">Facturación automática</mat-checkbox>
          <mat-icon
            class="info-icon"
            matTooltip="La facturación se realizará inmediatamente después de realizada la venta."
            matTooltipPosition="right"
            aria-label="Información sobre facturación automática"
          >
            help_outline
          </mat-icon>
        </div>
      </div>

      <br><br>
      <h4 style="color: grey">Información Adicional</h4>

      <!-- Usuario de Instagram y Contraseña de Instagram -->
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Usuario de Instagram</mat-label>
            <input type="text" matInput [formControl]="usuarioInstagram" />
          </mat-form-field>
          <app-error-messages [control]="usuarioInstagram"></app-error-messages>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contraseña de Instagram</mat-label>
            <input type="password" matInput [formControl]="contrasenaInstagram" />
          </mat-form-field>
          <app-error-messages [control]="contrasenaInstagram"></app-error-messages>
        </div>
      </div>
    </form>

    <br>
    <!-- Btn Guardar -->
    <div class="row text-right">
      <div class="col d-flex justify-content-end">
        <button mat-stroked-button color="warn" class="btn round" (click)="guardarConfiguracion()">Guardar</button>
      </div>
    </div>

    <!-- loading -->
    <div class="spinner-wrapper" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</div>
